name: Run all tests

on: 
  push:
  pull_request:
  schedule:
    - cron: '0 7 * * *'

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
#       os: [ubuntu-latest, macos-latest] # @todo: macOS need fixes

    steps:
    - uses: actions/checkout@v2

    - uses: sreimers/pr-dependency-action@v0.3
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v0.3
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/rem
      run: |
        for p in re rem; do cd $p && sudo PATH="$PATH" make install && cd - && sudo rm -Rf $p; done

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: retest
      run: |
        make CCACHE= EXTRA_CFLAGS=-Werror
        ./retest -a
